@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import './base/animations';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body {
   font-family: 'Roboto', sans-serif;
   color: #000;
}

.descr {
   display: flex;
   height: 100vh;
   background-color: #99ffec;
   background-image: radial-gradient(at 2% 68%, hsla(28, 66%, 77%, 1) 0px, transparent 50%),
      radial-gradient(at 34% 29%, hsla(291, 69%, 79%, 1) 0px, transparent 50%),
      radial-gradient(at 62% 25%, hsla(290, 76%, 63%, 1) 0px, transparent 50%),
      radial-gradient(at 15% 77%, hsla(347, 74%, 73%, 1) 0px, transparent 50%),
      radial-gradient(at 26% 57%, hsla(218, 87%, 76%, 1) 0px, transparent 50%),
      radial-gradient(at 69% 16%, hsla(267, 79%, 78%, 1) 0px, transparent 50%),
      radial-gradient(at 16% 44%, hsla(256, 99%, 68%, 1) 0px, transparent 50%);
   justify-content: center;
   align-items: center;

   &__wrapper {
      width: 800px;
   }
   &__header {
      color: #fff;
      font-size: 46px;
      font-weight: bold;
   }
   &__text {
      margin-top: 20px;
      color: #fff;
      font-size: 20px;
      font-weight: 300;
   }
}

.hide {
   opacity: 1;
}

.popups {
   padding: 200px 0 200px 0;
   display: flex;
   justify-content: center;

   &__divider {
      display: block;
      margin: 0 auto;
      width: 100%;
      height: 1px;
      width: 80%;
      background: rgba(0, 0, 0, 0.1);
   }

   &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 70px;
   }

   &__bounce,
   &__scale,
   &__flip,
   &__slide,
   &__fade,
   &__rotate {
      display: grid;
      gap: 30px;
      grid-template-columns: 150px repeat(5, 180px);

      &-header {
         display: flex;
         align-items: center;
         margin-right: 50px;
      }
   }
}

.popup-trigger {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 25px 10px;
   border: 1px solid #ddd;
   border-radius: 15px;
   text-decoration: none;
   width: 180px;
   color: #333;
   cursor: pointer;
   transition: all 0.4s;

   &:hover {
      background-color: #ddd;
   }
}

.footer {
   background-color: #333;
   color: #fff;
   padding: 40px 0;
   text-align: center;
   &__container {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   &__socials {
      margin-bottom: 10px;
   }
   &__social-link {
      margin: 0 10px;
      color: #fff;
      font-size: 20px;
      transition: color 0.3s;
      text-decoration: none;
      &:hover {
         color: #1da1f2;
         text-decoration: none;
      }
   }
}

.white-popup {
   display: none;
   justify-content: center;
   align-items: center;
   width: 500px;
   height: 200px;
   padding: 20px;
   background: white;
   border: 1px solid #ccc;
   border-radius: 10px;
   position: fixed;
   top: 35%;
   left: 32%;
   transform: translate(-50%, -50%);
   z-index: 1000;
   .popup-close {
      position: absolute;
      top: 0;
      right: -40px;
      font-size: 41px;
      line-height: 21px;
      color: #000;
      cursor: pointer;
   }
}

.white-popup.bounce-bottom {
   animation: bounce-bottom 0.5s forwards;
}

.white-popup.bounce-left {
   animation: bounce-left 0.5s forwards;
}

.white-popup.bounce-right {
   animation: bounce-right 0.5s forwards;
}

.white-popup.bounce-top {
   animation: bounce-top 0.5s forwards;
}

.white-popup.scale-in {
   animation: scale-in 0.3s forwards;
}

.white-popup.scale-blur {
   animation: scale-blur 1s both;
}

.white-popup.scale-tada {
   animation: scale-tada 1.1s both;
}

.white-popup.flip-page {
   animation: flip-page 1s both;
   perspective: 800px;
   opacity: 0;
   transform-origin: 50% 0;
   transform: perspective(800px) rotateY(-180deg) translateZ(300px);
}

.white-popup.flip-bounce {
   animation: flip-bounce 2s linear forwards;
   perspective: 400px;
   opacity: 1;
}

.white-popup.flip-raise {
   animation: flip-raise 1s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
   perspective: 800px;
   opacity: 0;
   transform-origin: 50% 0%;
   transform: perspective(800px) rotateX(-90deg);
}

.white-popup.flip-newspaper {
   animation: flip-newspaper 0.5s forwards;
   transform-origin: center;
   perspective: 1300px;
   opacity: 0;
}

.white-popup.slide-in-left {
   animation: slide-in-left 0.5s forwards;
}

.white-popup.slide-in-right {
   animation: slide-in-right 0.5s forwards;
}

.white-popup.slide-in-top {
   animation: slide-in-top 0.5s forwards;
}

.white-popup.slide-in-bottom {
   animation: slide-in-bottom 0.5s forwards;
}

.white-popup.fade-in {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   animation: fade-in 0.5s forwards;
}

.white-popup.fade-scale {
   animation: fade-scale 0.5s forwards;
}

.white-popup.fade-blur {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   animation: fade-blur 0.5s forwards;
}

.white-popup.rotate-in {
   animation: rotate-in 0.5s forwards;
}

.white-popup.rotate-in-down-left {
   animation: rotate-in-down-left 0.5s forwards;
}

.white-popup.rotate-in-down-right {
   animation: rotate-in-down-right 0.5s forwards;
}

.hide {
   display: none;
}

.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   z-index: 999;
   display: none;
}

::-webkit-scrollbar {
   width: 10px;
   height: 10px;
   &-track {
      background: transparent;
      border-radius: 10px;
   }
   &-thumb {
      background: #888;
      border-radius: 10px;
      border: 2px solid #f1f1f1;
      &:hover {
         background: #555;
      }
      &:active {
         background: #333;
      }
   }
}

@import './base/media';
